// needed permissions

grant codeBase "file:${netbeans.home}/-" {

// there should be system+lib+modules and NOT Development

// we need following RuntimePerms - queuePrintJob, createClassLoader,
// modifyThread, modifyThreadGroup, exitVM, ....
// awt perms - accessClipboard, ...
// file perms - "<<ALLFILES>> execute", ...

   permission java.security.AllPermission;
};

grant codeBase "file:${netbeans.user}/-" {
   permission java.security.AllPermission;
};

// internal javac
grant codeBase "file:${java.home}/../lib/-" {
  permission java.security.AllPermission;
};

// installed JDK extensions
grant codeBase "file:${java.home}/lib/ext/-" {
  permission java.security.AllPermission;
};

// permissions for generated djava classes, necessary for users of
// the djava scripting engine
grant codeBase "http:/koala.ilog.fr/djava/javadoc/koala/dynamicjava/interpreter/TreeClassLoader.html" {
  permission java.security.AllPermission;
};

////////////////////////////////////////////////////////////////////////
// Allow all access to the file system and runtime classes for alma ACS Laser
////////////////////////////////////////////////////////////////////////
grant codeBase "file:/alma/-" {
  permission java.security.AllPermission;
};

//
// A dirty hack that needs to be applied in order to avoid this exception:
//
// java.security.AccessControlException: access denied
//    (java.util.logging.LoggingPermission control)
//    ...
//    at alma.acs.logging.AcsLoggingHandler.<init>(AcsLoggingHandler.java:85)
//
// This may not be necessary, but I (Klemen Zagar) had to do it in order
// to get this things started.
//
grant codeBase "file:/-" {
  permission java.security.AllPermission;
};
