<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ACS_objexp/src/si/ijs/acs/objectexplorer/ObjectExplorer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="si.ijs.acs.objectexplorer.ObjectExplorer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="BACI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ACS_objexp"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DACS.manager=&quot;corbaloc::alma:3000/Manager&quot;&#13;&#10;-DACS.repository=&quot;corbaloc::alma:3004/InterfaceRepository&quot;&#13;&#10;-Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB&#13;&#10;-Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:ACS_objexp/test}"/>
</launchConfiguration>
