<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ACS_jcontnc/test/alma/demo/test/client/NotificationServiceConfigurationTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="alma.demo.test.client.NotificationServiceConfigurationTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ACS_jcontnc"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DACS.manager=corbaloc::alma-head:3000/Manager &#13;&#10;-DORBInitRef.NameService=corbaloc::alma-head:3001/NameService &#13;&#10;-Duser.timezone=UTC"/>
</launchConfiguration>
