#-*-Tcl-*-
#******************************************************************************
# E.S.O. - VLT project
#
# "@(#) $Id: compat.NOV2000.config,v 1.23 2001/06/20 11:14:36 vltsccm Exp $"
#
# who       when        what
# --------  ----------  ----------------------------------------------
# eallaert  2000-03-13  created for env vars DFLOW_ROOT and for rtd & cat backward incompatibility
#

#************************************************************************
#   NAME
#   compat.config - Configuration file to check for incompatibilies of MAY97
#
#   DESCRIPTION
#   This files contains a number of entries, with each entry describing a single
#   incompatibilitiy.  Each entry is structured as a keyed list (see TclX)
#   The format of each entry is:
#      1. Opening braces
#      2. A number of sublists each containing a key and a value;
#      3. Closing braces
#   Being keyed lists, the exact order of the sublists (see 2.) is irrelevant.
#   The keys are:
#   TYPE : tells whether the incompatibility stems from the "filename" or
#          from the "content" of the file
#   PATTERN : glob-style pattern to match.  No need to use "*" if TYPE is
#             "content" -- the asterisks are added by compat.tcl in this case
#   LEVEL : classification of incompatibility.  WARNING means potentially
#           incompatible, SEVERE means a hard incompatibility.
#   HELP : a short explanatory help text
#
#   Comment or blank lines can appear anywhere outside the braces enclosing one
#   entry (1. and 3.)
#------------------------------------------------------------------------

#   ***************************
#   *                         *
#   *  environment variables  *
#   *                         *
#   ***************************
#
{
{TYPE {content}}
{PATTERN {SKYCATDIR}}
{LEVEL {SEVERE}}
{HELP {replace SKYCATDIR by VLTROOT}}
{VERBOSE {The environment variable SKYCATDIR has been phased out. 
Its use dates back from the times that the SkyCat stuff was put under its
own directory. This is now all under VLTROOT.}}
}

#
{
{TYPE {content}}
{PATTERN {DFLOW_ROOT}}
{LEVEL {SEVERE}}
{HELP {replace DFLOW_ROOT by VLTROOT}}
{VERBOSE {The environment variable DFLOW_ROOT has been phased out. 
Its use dates back from the times that the Data Flow stuff was put under its
own directory. This is now all under VLTROOT.}}
}


#___oOo___


