#*******************************************************************************
# E.S.O. - VLT project
#
# "@(#) $Id: compat.JUL1995.config,v 1.23 2001/06/20 11:14:28 vltsccm Exp $"
#
# who       when      what
# --------  --------  ----------------------------------------------
# eallaert  01/03/95  created for FEB95 release
# eallaert  08/08/95  adapted for JUL95 release
#

#************************************************************************
#   NAME
#   compat.tcl - Configuration file to check for incompatibilies of VLT SW 
#       	 release JUL 95 with respect to FEB 95 release.
#
#   DESCRIPTION
#   This files contains a number of entries, with each entry describing a single
#   incompatibilitiy.  Each entry is structured as a keyed list (see TclX)
#   The format of each entry is:
#      1. Opening braces
#      2. A number of sublists each containing a key and a value;
#      3. Closing braces
#   Being keyed lists, the exact order of the sublists (see 2.) is irrelevant.
#   The keys are:
#   TYPE : tells whether the incompatibility stems from the "filename" or 
#          from the "content" of the file
#   PATTERN : glob-style pattern to match.  No need to use "*" if TYPE is
#             "content" -- the asterisks are added by compat.tcl in this case
#   LEVEL : classification of incompatibility.  WARNING means potentially
#           incompatible, SEVERE means a hard incompatibility.
#   HELP : a short explanatory help text
#
#   Comment or blank lines can appear anywhere outside the braces enclosing one
#   entry (1. and 3.)
#------------------------------------------------------------------------

#   *********
#   *       *
#   *  MCM  *
#   *       *
#   *********
#
# 1. motInstall can have additional parameter (error stack)
{
{TYPE {content}}
{PATTERN {motInstall}}
{LEVEL {WARNING}}
{HELP {can have an additional argument}}
}

# 2. motVersion returns now VOID
{
{TYPE {content}}
{PATTERN {motVersion}}
{LEVEL {WARNING}}
{HELP {function type is now VOID}}
}

# 3. motciVersion returns now VOID
{
{TYPE {content}}
{PATTERN {motciVersion}}
{LEVEL {WARNING}}
{HELP {function type is now VOID}}
}

# 4. sdlVersion returns now VOID
{
{TYPE {content}}
{PATTERN {sdlVersion}}
{LEVEL {WARNING}}
{HELP {function type is now VOID}}
}

# 5. mac4Version returns now VOID
{
{TYPE {content}}
{PATTERN {mac4Version}}
{LEVEL {WARNING}}
{HELP {function type is now VOID}}
}

# 6. vme4saVersion returns now VOID
{
{TYPE {content}}
{PATTERN {vme4saVersion}}
{LEVEL {WARNING}}
{HELP {function type is now VOID}}
}

# 7. motPrintMotors has no more parameters
{
{TYPE {content}}
{PATTERN {motPrintMotors}}
{LEVEL {SEVERE}}
{HELP {has no arguments}}
}

#   *********
#   *       *
#   *  SLX  *
#   *       *
#   *********
#
# 1. slxStoreLineBuf() has an additional argument
{
{TYPE {content}}
{PATTERN {slxStoreLineBuf}}
{LEVEL {SEVERE}}
{HELP {has an additional argument}}
}

# 2. slxMergeSetupBuf() has an additional argument
{
{TYPE {content}}
{PATTERN {slxMergeSetupBuf}}
{LEVEL {SEVERE}}
{HELP {has an additional argument}}
}

#   ***************
#   *             *
#   *  Sequencer  *
#   *             *
#   ***************
#
# 1. Shell is now either seqWish or seqSh
{
{TYPE {content}}
{PATTERN {sequencer}}
{LEVEL {SEVERE}}
{HELP {shell is either seqWish or seqSh}}
}

#   *********
#   *       *
#   *  lcc  *
#   *       *
#   *********
#
# 1. bootScript requires conversion
{
{TYPE {filename}}
{PATTERN {*bootScript*}}
{LEVEL {SEVERE}}
{HELP {requires conversion - see lcuboot}}
}

# 2. devicesFile requires conversion
{
{TYPE {filename}}
{PATTERN {*devicesFile*}}
{LEVEL {SEVERE}}
{HELP {requires conversion - see convDevTbl}}
}

# 3. kill handler of cmdInterpreter has to be changed
{
{TYPE {content}}
{PATTERN {cmdInit}}
{LEVEL {WARNING}}
{HELP {kill handler of cmdInterpreter needs changes}}
}

# 4. The output format of dbDeToStr has changed for some data types.
{
{TYPE {content}}
{PATTERN {dbDeToStr}}
{LEVEL {WARNING}}
{HELP {output format changed for some types (LCC only)}}
}

# 5. dbRestore input format has changed. Affects also function lccReconfigure.
{
{TYPE {content}}
{PATTERN {dbRestore}}
{LEVEL {WARNING}}
{HELP {input format changed (LCC only)}}
}

# 6. dbRestore input format has changed. Affects also function lccReconfigure.
{
{TYPE {content}}
{PATTERN {lccReconfigure}}
{LEVEL {WARNING}}
{HELP {input format changed - cf dbRestore (LCC only)}}
}

#   *************
#   *           *
#   *  devices  *
#   *           *
#   *************
#
# 1. <mod>DevCreate use now VMEbus addresses instead of CPU addresses
{
{TYPE {content}}
{PATTERN {DevCreate}}
{LEVEL {SEVERE}}
{HELP {argument is now VMEbus-address}}
}

#   *********
#   *       *
#   *  tim  *
#   *       *
#   *********
#
# 1. timDevCreate returns OK instead of timERROR_NO_TRS when TRS is missing,
{
{TYPE {content}}
{PATTERN {timDevCreate}}
{LEVEL {WARNING}}
{HELP {returns OK when TRS is missing}}
}

#   **********
#   *        *
#   *  mcon  *
#   *        *
#   **********
#
# 1. mconDevCreate added conversion of A24-bus-address to local addr
{
{TYPE {content}}
{PATTERN {mconDevCreate}}
{LEVEL {WARNING}}
{HELP {conversion of A24-bus-address to local addr}}
}

# 2. mconDevCreate added parameter `intrLevel'
{
{TYPE {content}}
{PATTERN {mconDevCreate}}
{LEVEL {SEVERE}}
{HELP {has an additional argument}}
}

# 3. struct mconUSER_STATUS_TABLE (mconDevice.h): removed member `inTarget',
#    now unused
{
{TYPE {content}}
{PATTERN {inTarget}}
{LEVEL {WARNING}}
{HELP {member of mconUSER_STATUS_TABLE removed}}
}

# 4. struct mconUSER_STATUS_TABLE (mconDevice.h): status bit 'incorrAxis' 
#    removed 
{
{TYPE {content}}
{PATTERN {incorrAxis}}
{LEVEL {WARNING}}
{HELP {status bit in mconUSER_STATUS_TABLE removed}}
}


# 5. struct mconUSER_STATUS_TABLE (mconDevice.h): status bit 'axisStopped' 
#    removed 
{
{TYPE {content}}
{PATTERN {axisStopped}}
{LEVEL {WARNING}}
{HELP {status bit in mconUSER_STATUS_TABLE removed}}
}

# 5. struct mconUSER_STATUS_TABLE (mconDevice.h): status bit 'softwareStop' 
#    now changed meaning to 'invalidAxis'
{
{TYPE {content}}
{PATTERN {softwareStop}}
{LEVEL {WARNING}}
{HELP {status bit in mconUSER_STATUS_TABLE changed meaning}}
}

# 6. mconERROR_STATUS_COMM (mconErrors.h): replaced by 
#    mconERROR_STATUS_WATCHDOG
{
{TYPE {content}}
{PATTERN { mconERROR_STATUS_COMM}}
{LEVEL {WARNING}}
{HELP {replaced by mconERROR_STATUS_WATCHDOG}}
}

#   ***********
#   *         *
#   *  qsemu  *
#   *         *
#   ***********
#
# 1. conditional compilation with flag QSEMU should be revised for
#    compatibility with CCS-lite
{
{TYPE {content}}
{PATTERN {QSEMU}}
{LEVEL {SEVERE}}
{HELP {convert to CCS-lite}}
}

# 2. libqs.a does no longer exist
{
{TYPE {content}}
{PATTERN {libqs.a}}
{LEVEL {SEVERE}}
{HELP {does no longer exist}}
}

#   *********
#   *       *
#   *  cmd  *
#   *       *
#   *********
#
# 1. cmdSetup utility has to be removed from RtapEnvTable
{
{TYPE {content}}
{PATTERN {QSEMU}}
{LEVEL {WARNING}}
{HELP {remove cmdSetup from RtapEnvTable}}
}

