#-*-Tcl-*-
#******************************************************************************
# E.S.O. - VLT project
#
# "@(#) $Id: compat.TCL3to4.config,v 1.23 2001/06/20 11:14:29 vltsccm Exp $"
#
# who       when       what
# --------  ---------- ----------------------------------------------
# eallaert  10/03/1996 created for [incr Tcl] 2.0 after dbl/dblcb update
#

#************************************************************************
#   NAME
#   compat.config - Configuration file to check for incompatibilies 
#       	    due to VLTROOT/VLTDATA conversion
#
#   DESCRIPTION
#   This files contains a number of entries, with each entry describing a single
#   incompatibilitiy.  Each entry is structured as a keyed list (see TclX)
#   The format of each entry is:
#      1. Opening braces
#      2. A number of sublists each containing a key and a value;
#      3. Closing braces
#   Being keyed lists, the exact order of the sublists (see 2.) is irrelevant.
#   The keys are:
#   TYPE : tells whether the incompatibility stems from the "filename" or 
#          from the "content" of the file
#   PATTERN : glob-style pattern to match.  No need to use "*" if TYPE is
#             "content" -- the asterisks are added by compat.tcl in this case
#   LEVEL : classification of incompatibility.  WARNING means potentially
#           incompatible, SEVERE means a hard incompatibility.
#   HELP : a short explanatory help text
#
#   Comment or blank lines can appear anywhere outside the braces enclosing one
#   entry (1. and 3.)
#------------------------------------------------------------------------
#
# ********************
# *                  *
# *  [incr Tcl] 2.0  *
# *                  *
# ********************
{
{TYPE {content}}
{PATTERN {global }}
{LEVEL {WARNING}}
{HELP {"global" may still have limited scope}}
}

{
{TYPE {content}}
{PATTERN {$this}}
{LEVEL {SEVERE}}
{HELP {"$this" includes object's namespace}}
}

{
{TYPE {content}}
{PATTERN {#auto}}
{LEVEL {WARNING}}
{HELP {object name starts with lowercase letter}}
}

{
{TYPE {content}}
{PATTERN {itcl_class}}
{LEVEL {WARNING}}
{HELP {replace by "class"}}
}

{
{TYPE {content}}
{PATTERN {protected }}
{LEVEL {WARNING}}
{HELP {replace "info protected" by "info variable";
              add keyword "variable" to data declaration}}
}

{
{TYPE {content}}
{PATTERN {public }}
{LEVEL {WARNING}}
{HELP {replace "info public" by "info variable";
              add keyword "variable" to data declaration}}
}

{
{TYPE {content}}
{PATTERN {constructor *config}}
{LEVEL {WARNING}}
{HELP {use "args" instead of "config" as argument;
              add "eval configure $args" to constructor}}
}

{
{TYPE {content}}
{PATTERN {method configure}}
{LEVEL {WARNING}}
{HELP {remove dummy "configure" method}}
}

{
{TYPE {content}}
{PATTERN {itcl_info}}
{LEVEL {WARNING}}
{HELP {replace by "info"}}
}

{
{TYPE {content}}
{PATTERN { delete}}
{LEVEL {WARNING}}
{HELP {replace "<obj> delete" by "delete object <obj>"}}
}

{
{TYPE {content}}
{PATTERN {inherit}}
{LEVEL {WARNING}}
{HELP {check the "init" code of this class's constructor}}
}

{
{TYPE {content}}
{PATTERN { :: }}
{LEVEL {WARNING}}
{HELP {replace "<class> :: <proc>" by "<class>::<proc>"}}
}


