#-*-Tcl-*-
#******************************************************************************
# E.S.O. - VLT project
#
# "@(#) $Id: compat.OCT2001.config,v 1.23 2001/06/20 11:14:43 vltsccm Exp $"
#
# who       when        what
# --------  ----------  ----------------------------------------------
# eallaert  2001-05-01  created for env Tcl/Tk 8.3.3
#

#************************************************************************
#   NAME
#   compat.config - Configuration file to check for incompatibilies of MAY97
#
#   DESCRIPTION
#   This files contains a number of entries, with each entry describing a single
#   incompatibilitiy.  Each entry is structured as a keyed list (see TclX)
#   The format of each entry is:
#      1. Opening braces
#      2. A number of sublists each containing a key and a value;
#      3. Closing braces
#   Being keyed lists, the exact order of the sublists (see 2.) is irrelevant.
#   The keys are:
#   TYPE : tells whether the incompatibility stems from the "filename" or
#          from the "content" of the file
#   PATTERN : glob-style pattern to match.  No need to use "*" if TYPE is
#             "content" -- the asterisks are added by compat.tcl in this case
#   LEVEL : classification of incompatibility.  WARNING means potentially
#           incompatible, SEVERE means a hard incompatibility.
#   HELP : a short explanatory help text
#
#   Comment or blank lines can appear anywhere outside the braces enclosing one
#   entry (1. and 3.)
#------------------------------------------------------------------------

#   *****************
#   *               *
#   *  Tcl/Tk 8.3.3 *
#   *               *
#   *****************
#
# Do no longer use "seqWish -f" nor "wishx -f"
# --------------------------------------------
{
{TYPE {content}}
{PATTERN {(seqWish -f)|(wishx -f)}}
{LABEL {"seqWish -f" or "wishx -f"}}
{LEVEL {WARNING}}
{HELP {remove the "-f"}}
{VERBOSE {The "-f" option in between the interpreter name and the Tcl-script
filename (appearing e.g. within some sh-scripts as generated by 
vltMakefile) was declared obsolescent quite some time ago. 
Future versions of Tcl/Tk and seqWish actually can have problems if it
is defined. Therefore, the "-f" should be removed from within scripts and
Makefiles that produce executable Tcl scripts (see the "xxx_TCLSH" 
definition in your module's Makefile).}}
}

#
# avoid hardcoded library versions
# --------------------------------
{
{TYPE {content}}
{PATTERN {(\-ltcl8\.0)|(\-ltk8\.0)|(\-ltclx8\.0\.4)|(\-ltkx8\.0\.4)}}
{LABEL {"-ltcl8.0" etc.}}
{LEVEL {SEVERE}}
{HELP {do not hardcode library versions}}
{VERBOSE {With Tcl/Tk now at version 8.3.3, the static and shared library files
libtcl8.0.xx, libtk8.0.xx, libtclx8.0.4.xx, libtkx8.0.4, etc are no 
longer available. Instead of using these hardcoded version numbers, 
you should insert "include $(TCLTK_ROOT)/lib/tclConfig.sh" (for tcl,
tkConfig.sh for tk, tclxConfig.sh for tclx, tkxConfig.sh for tkx) into
your Makefile, and refer to the variables TCL_VERSION, TCL_LIB_FLAG 
etc. defined in these file.}}
}

# itclsh does no longer exist
# ---------------------------
{
{TYPE {content}}
{PATTERN {itclsh}}
{LEVEL {SEVERE}}
{HELP {itclsh does no longer exist}}
{VERBOSE {The [incr Tcl] shell "itclsh" does no longer exist. Replace by the
standard Tcl shell "tclsh", and add in your script the command
"package require Itcl".}}
}

# itkwish does no longer exist
# ----------------------------
{
{TYPE {content}}
{PATTERN {itkwish}}
{LEVEL {SEVERE}}
{HELP {itkwish does no longer exist}}
{VERBOSE {The [incr Tcl] windowing shell "itkwish" does no longer exist. 
Replace by the standard Tk shell "wish", and add in your script the
command "package require Itcl".}}
}

#
# itclConfig.sh does no longer exist
# ----------------------------------
{
{TYPE {content}}
{PATTERN {itclConfig.sh}}
{LEVEL {SEVERE}}
{HELP {itclConfig.sh does no longer exist}}
{VERBOSE {The [incr Tcl] configuration shell script does no longer exist. You
should extract the [incr Tcl] specifics from $TCLTK_ROOT/include/itcl.h.}}
}

#
# itkConfig.sh does no longer exist
# ---------------------------------
{
{TYPE {content}}
{PATTERN {itkConfig.sh}}
{LEVEL {SEVERE}}
{HELP {itkConfig.sh does no longer exist}}
{VERBOSE {The [incr Tk] configuration shell script does no longer exist. You
should extract the [incr Tk] specifics from $TCLTK_ROOT/include/itk.h.}}
}

#___oOo___
