<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="eventGUI.application"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/eventGUI.application"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-eventGUI.application"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DORBInitRef.NameService=corbaloc::pc013018:3001/NameService -DACS.Manager=corbaloc::pc013018:3000/Manager -Dacs.system.classpath.jardirs=../lib/:/diska/data/jschwarz/introot/lib:/alma/ACS-7.0/ACSSW/lib -Dacs.system.classloader.verbose=false -Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB -Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton -XX:+HeapDumpOnOutOfMemoryError"/>
<booleanAttribute key="pde.generated.config" value="false"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="eventGUI.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.ui.views,org.eclipse.equinox.common,org.eclipse.osgi,org.eclipse.core.databinding,com.ibm.icu,org.eclipse.equinox.preferences,org.eclipse.core.commands,org.eclipse.ui.workbench,org.eclipse.swt.gtk.linux.x86,org.eclipse.ui,org.eclipse.equinox.app,org.eclipse.core.jobs,org.eclipse.core.contenttype,org.eclipse.core.expressions,org.eclipse.help,org.eclipse.swt,org.eclipse.jface.databinding,org.eclipse.core.runtime.compatibility.auth,org.eclipse.core.runtime,org.eclipse.equinox.registry,org.eclipse.jface"/>
<stringAttribute key="selected_workspace_plugins" value="eventGUI,ACS_Utility_Jars"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
